testcases/**/*.class
### Mac OS ###
.DS_Store
### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Ignore compiled class files
*.class

# Ignore all files in the build directory (if you have one)
build/

# Ignore specific directories or files
/Assignment2/src/assignment2/*.class
/Assignment2/src/basicdatastructures/queue/*.class
/Assignment2/src/geomerticshapes/*.class
/Assignment2/src/testcases/*.class